name = "green_agent"
description = "The assessment hosting agent for petscagent-bench."
version = "0.1.0"

defaultInputModes = ["text"]
defaultOutputModes = ["text"]
[capabilities]
streaming = false

[[skills]]
id = "host_assess_petscagent_bench"
name = "petscagent-bench assessment hosting"
description = """
Assess the coding ability of an agent.
"""
tags = ["green agent", "assessment hosting", "petscagent-bench"]
examples = ["""    
Your task is to instantiate petscagent-bench to test the agent located at:
<white_agent_url>
http://localhost:9002/
</white_agent_url>
    """]
